:root {
  --bg-dark-color: #080423;
  --bg-light-color: #FFFFFF;

  --primary-dark-color: #080423;
  --primary-light-color: #FFFFFF;
  --secondary-light-color: #FFF9F9;

  --primary-grey-color: #222121;
  --text-grey-color: #7A7A7A;

  --secondary-dark-color: #15151547;

  --yellow-color: #FFD233;
  --red-color: #FF3D81;

  --primary-font-size: 18px;
  --secondary-font-size: 16px;

  --primary-font-weight: 500;
  --secondary-font-weight: 400;

}
