.film-details {
  &__inner {
    display: flex;
    width: 100%;
  }

  &__left {
  }

  &__img-wrap {
    margin-right: 37px;
    margin-bottom: 30px;
  }

  &__image {
    max-height: 650px;
  }

  &__right {
    width: 100%;
  }

  &__header {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
  }

  &__button {
    font-size: 18px;
  }

  &__name {
    font-size: 80px;
    font-weight: 700;
    max-width: 316px;
    color: var(--primary-dark-color);
    margin-right: auto;
    &_small {
      max-width: 400px;
      font-size: 35px;
    }
  }

  &__rating-wrap {
    margin-left: auto;
  }

  &__rating-kp {
    color: var(--yellow-color);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
  }

  &__rating-imdb {
    color: var(--yellow-color);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
  }

  &__description {
    max-width: 80%;
    margin-bottom: 50px;
  }

  &__info {
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-dark-color);
    margin-bottom: 20px;
  }
}