.header {
  background: var(--bg-dark-color);

  &__inner {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    padding: 20px 20px 20px 92px;
  }

  &__logo {
    cursor: pointer;
  }

  &__search-wrapper {
    margin-left: 124px;
  }
}